@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]):not([type="range"]),
    select,
    textarea {
        @apply border border-gray-300;
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]):not([type="range"]):focus,
    select:focus,
    textarea:focus {
        @apply border-slate-900 ring-1 ring-slate-900 outline-none;
    }
}
